/* Dark Mode */
.panelMenuStyleDarkMode.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content{
    background:  #121212 !important ;
    color: white !important;
    border-color:  #121212;
  }
.panelMenuStyleDarkMode.p-panelmenu .p-panelmenu-content{
    background:  #121212 !important ;
    color: white !important;
    border-color:  #121212;
}
.panelMenuStyleDarkMode.p-panelmenu .p-panelmenu-content .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover{
    background :#393636;
}
.panelMenuStyleDarkMode.p-panelmenu .p-panelmenu-content .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content{
    background :#393636;
}
.panelMenuStyleDarkMode.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-link{
    color: white !important;
}
.panelMenuStyleDarkMode.p-panelmenu .p-panelmenu-content .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text{
    color: white !important;
}

/* Light Mode */

  .panelMenuStyleLightMode.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content{
    background:  white !important ;
  }

  