/* .App {
  text-align: center;
} */
body{
  /* zoom: 90%; */
}

.MuiBreadcrumbs-ol{
  padding-left: 0rem !important;
}
.MuiTablePagination-displayedRows{
  margin-bottom:  0 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.p-metergroup .p-metergroup-label-list .p-metergroup-label {
  
  font-size: 0.9rem !important;
}
 .MuiBreadcrumbs-root{
  color: white !important;
  background: #447ac4;
  padding: 2px 12px;
  font-style: normal !important;
  
  font-weight: 700 !important;
  border-radius: 8px;}

.MuiAvatar-root{width: 32px !important;height:32px !important;font-size: 0.9rem !important;}
.dashboard-rightSide-Table .MuiCardContent-root:last-child {
padding-bottom: 0 !important;
}
/* .MuiTab-root.Mui-selected {
  color: #ffffff !important;
  background: #1919af !important;
} */
/* .LogoutIcon{
  font-family: 900 !important;
} */

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensures the spinner is on top of other content */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Table Style*/
.MuiTableCell-root{padding: 14px !important;}
/*Dialog */
.MuiDialogTitle-root{padding: 10px 14px !important;}
.MuiDialogContent-root{padding: 15px 15px !important; }
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


/* Mobile View Hide Section*/
@media screen and (max-width: 480px) {
  .hideSection{
    display: none !important;
  }
  .MuiTabs-indicator{
    background-color: transparent !important;
  }
  .mobileViewFloatBtn{
    left: 65% !important;
  }
}
