/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .MuiBreadcrumbs-root{color: #FF4500  !important;font-style: normal !important;} */
.MuiAvatar-root{width: 32px !important;height:32px !important;font-size: 0.9rem !important;}
.MuiTab-root.Mui-selected {
  color: #ffffff !important;
  background: #1919af !important;
}
/* .LogoutIcon{
  font-family: 900 !important;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Table Style*/
.MuiTableCell-root{padding: 14px !important;}