
.fromSection{
  display: inline-block;
  align-items: center;

  width: 320px;
  margin-bottom: 120px;
}
.text_area{
  align-content: center;
  border-radius: 22px;
  margin-bottom: 35px;
  width: 100%;
  height: 64px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input{
  margin-top: 1.2rem;
  font-family: 'Montserrat regular';
  font-size: 20px;
  border: none;
  width: 80%;
}
.App{}
.shape{
  /* clip-path: circle(73.0% at 12% 0); */
/* background: red; */
background-image: url("data:image/svg+xml,%3Csvg id='e1snYuFH7J21' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 350 500' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Cellipse rx='310' ry='310' transform='translate(106.829583 -170.55)' fill='%239dbdfb' stroke-width='0'%3E%3C/ellipse%3E%3Cellipse rx='125' ry='125' transform='translate(292.575129 445.91824)' fill='%23B0CBFF' stroke-width='0'%3E%3C/ellipse%3E%3C/svg%3E");
background-repeat: no-repeat;
background-color: #edf2fb;
background-size: cover;
}

.btn{
  margin-top: 28px;
  width: 165px;
  height: 60px;
  border-radius: 30px;
  background: #B58DED;
  border: none;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);
  cursor: pointer;
}

.login{
  display: inline-block;
  /* background: #FFFFFF; */
  width: 380px;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
  color: #0E4579;
  font-family: 'Montserrat light';
  font-size: 18px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.shining-effect:before {
    content: '';
    position: absolute;
    top: 0;
    left: -0px;
    width: 30px;
    height: 100%;
    background: rgba(255,255,255, 0.3);
    transform: skewX(-30deg);
    animation: slide 5s infinite; 
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.219) 70%,
      rgba(15, 2, 2, 0) 100%
    );
  }

  .background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }
  
  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
  
  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
  
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  
  @keyframes slide {
    0% {
      left: -100px; 
      top: 0;
    }

    100% {
      left: 500px;
      top: 0;
    }
  }
  